@using QS2015.Models;
@using QS2015.Resources;
@using QS2015.Connectivity;

@model QS2015.Models.DomainsModel

@section Styles {
    <link href="@Url.Content("~/Styles/selection.css?v=" + AppGlobalVariables.AppVersion)" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = Resources.ChartDomains_Title;

    string thisCountryCode = DomainsModel.DEFAULT_COUNTRY_CODE;
    string currentLanguage = Session["Culture"].ToString();
}


<div class="quick-stats-selection-instruction"><b>@Resources.ChartDomains_Click_Instruction</b></div>

@foreach (DomainModel m in @Model.getDomains())
{
    <div class="quick-stats-selection-group">
        <b>@m.Name</b>
    </div>

    foreach (IndicatorModel i in m.Indicators)
    {
        <a class="quick-stats-selection-element" href="@Url.Action("Index", "Charts", new { IndicatorCode = @i.Code, CountryCode = @thisCountryCode, lang = currentLanguage })">
            <div>
                @i.Name
            </div>
        </a>
    }
}

<br /><br />

