@using QS2015.Resources;

@{
    ViewBag.Title = Resources.About_Title;
}

<h2>@Resources.About_Title</h2>

<p>
    @Resources.About_This_Database
</p>

<p>
    @Resources.About_Compiled_1
    @Resources.About_Compiled_2
    @Resources.About_Compiled_3    
</p>

<p>
    @Resources.About_Glossary_1 
    <a style="color: blue;" href="http://www1.unece.org/stat/platform/display/Statgloss">
    @Resources.About_Glossary_2
    </a> 
    @Resources.About_Glossary_3 
</p>

<p>
    @Resources.About_Software_1
    <a style="color: blue;" href="http://www.scb.se/pc-axis/">@Resources.About_Software_2</a> @Resources.About_Software_3 
    <a style="color: blue;" href="http://www.jidesoft.com/">@Resources.About_Software_4</a>.
</p>

<p>
    <b>@Resources.About_Note</b>
</p>

<p>
    @Resources.About_Note_Text_1
    @Resources.About_Note_Text_2
    @Resources.About_Note_Text_3  
</p>

